$brand-dark: #34495E;
$brand-light: #4C96A9;
$brand-bright: hsla(132,55%,42%,1);
$brand-complement: #0C5594;

$brand-complement-dark: darken($brand-complement, 20%);

$gray-light: #cccccc;
$gray-dark: #313131;

$brand-color-dark: #141A1F;
$brand-color-action: darken($brand-bright, 10%);

$sidebar-width: 15vw;
$nested-sidebar-width: 240px;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #e1306c;
$pinterest-color: #bd081c;
$linkedin-color: #0077b5;
$youtube-color: #cd201f;
$snapchat-color: #fffc00;