.alerts {
    margin-left: 20px;
    margin-top: 100px;
}
.wrapper-alert {
    display: flex;
    margin-top: 20px;
}

.green-alert, .red-alert, .blue-alert, .yellow-alert {
    width: 250px;
    height: 400px;
    margin: 10px;
}

.green-alert {
    background-color: #74C59F;
}

.red-alert {
    background-color: #E48B80;
}

.blue-alert {
    background-color: #F4F6F9;
}

.yellow-alert {
    background-color: #F7EACB;
}