@import '../colors/style.scss';


.alert-wrapper{
    display: flex;
    justify-content: center;
}

.rudolph{
    color: $error-red;

}

.greeny{
    color: $passing-green;
}

.bluey{
    color: $error-bright-red;
}

.jelly {
    color: $warning-yellow;
}

.alert-colors{
    display: flex;
    margin-top: 40px;
}

.structure, .interactions {
    margin-top: 50px;
}

.green-alert, .red-alert, .blue-alert, .yellow-alert {
    width: 250px;
    height: 400px;
    margin: 10px;
}

.green-alert {
    background-color: $passing-green;
}

.red-alert {
    background-color: $error-red;
}

.blue-alert {
    background-color: $error-bright-red;
}

.yellow-alert {
    background-color: $warning-yellow;
}

.alert-interaction{
    display: flex;
    height: 430px;
    justify-content: center;

    .green-alert, .red-alert, .blue-alert, .yellow-alert {
        width: 250px;
        height: 20px;
        margin: 10px;
        align-self: flex-end;
        transition: 1s height ease;
    }

    .green-alert:hover{
        height: 400px;
        transition: 1s height ease-in-out;
    }
    
    .red-alert:hover{
        height: 400px;
        transition: 1s height ease-in-out;
    }

    .blue-alert:hover{
        height: 400px;
        transition: 1s height ease-in-out;
    }

    .yellow-alert:hover{
        height: 400px;
        transition: 1s height ease-in-out;
    }
}

.alert-faces {
    display: flex;
    justify-content: center;
    text-align: center;

    .call-action {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }

    p {
        color: #fff;
        font-size: 12px;
    }

    .red-alert, .green-alert{
        img{
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            height: 110px;
        }
    }

    .red-alert{
        margin-right: 30px;
    }
}

.editor{
    background-color: #0F1716;
    width: 55%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    color: #95BF74;
}

.example-code{
    margin-top: 50px;

    p{
        margin-bottom: 50px;
    }
}

.notifications{
    margin-top: 50px;
}

.pop-ups-wrapper{
    margin-top: 50px;
}

.demo-bar{
    height: 40px;
    background-color: $sidebar;
    width: 70%;
    margin: 80px auto;
    display: flex;

    .notification{
        height: 25px;
        width: 25px;
        border-radius: 15px;
        position: relative;
        top: -11px;
        margin-left: 50px;
        border: 1px #fff solid;
    }

    .bad-note{
        background-color: $error-red;
        animation: bounce .5s ease-in-out infinite alternate;
        span{
            color: #fff;
            position: relative;
            left: 10px;
            font-size: 20px;
            top: -1px;
            font-family: 'Lora';
        }
    }

    .good-note{
        background-color: $passing-green;
    }

    .warn-note{
        background-color: $warning-yellow;
    }

    @keyframes bounce {
        from {top: -11px;}
        to {top: -18px;}
    }
    
}