.contenido {
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.wrapper{
    display: flex;
}


@media only screen and (max-width: 1135px) {
    .contenido {
        width: 90%;
    }

}