.logos{
    margin-top: 100px; 
     
}
.main-logos{
    display: flex;
    justify-content: center;

    img{
    height: 75px;
    margin: 35px 15px;
    }
}

.shield-logos {
    display: flex;
    justify-content: center;

    img{
        height: 170px;
        margin: 5px 15px;
    }
}





.animations {
    margin-top: 100px;

    .errors {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;

        img{
            height: 300px;
            margin: 0px 10px;
        }
    }
}

.loaders{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        margin: 15px;
    }
}

.email {
    margin-top: 80px;
    
}

.email-img{
    margin-top: 30px;

        img{
            margin: 10px;
        }

    .banners{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .halfwidth{
        margin: 20px auto;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        img{
            
            height: 300px;
            margin: 5px;
        }
    }
}

.largebanners{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buhi{
    margin-top: 100px;
}

.buhi-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.sim-img{
    img{
        height: 110px;
    }
    
}

.avys{
    display: flex;
    img{
        height: 100px;
        margin: 15px;
    }
}

.icons{
    margin: 100px 0px;
}