@import '../../../App.scss';

.main-title {
    font-size: 5.5em;
    font-family: 'Lora', serif;
    padding-left: 10px;
    margin: 100px 0px 35px 0px;
    border-left: $title 5px solid;
  }
  

.intro-text {
    padding-left: 20px;
    }
