@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');

$duller: #93B7BE;
$title:  #4ECDC4;

body {
  margin: 0;
  color: #201F1E;
  font-family: 'Open Sans', Arial, sans-serif;  
}


